# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Dependencies - JAR files should not be committed
libs/*.jar
!libs/README.md
!gradle/wrapper/gradle-wrapper.jar